* {
 box-sizing: border-box;
}

.row::after {
 content: "";
 clear: both;
 display: table;
}

[class*="col-"] {
 float: left;
 padding: 15px;
 padding-top: 2px;
 padding-bottom: 2px;
}

/* For mobile phones: */
[class*="col-"] {
 width: 100%;
}

.request-form-container-row {
 margin-left: 0px;
 margin-right: 0px;
}

.request-form-container {
 background-color: white;
 border-radius: 10px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.request-form-sidebar {
 background-color: white;
 border-radius: 15px;
 /* width: 18%; */
 margin-left: 5%;
 min-height: 1000px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.request-form-heading {
 text-align: center;
 font-weight: bold;
 font-size: 30px;
}
.blue-bold-text {
 color: skyblue;
}

.text-input-field {
 width: 100%;
 line-height: 45px;
 font-size: 14px;
 border-radius: 15px;
 background-color: white;
}

.text-input-field-label {
 padding-bottom: 5px;
}

.checkbox-field-container {
 border: 1px #f7f5f5 solid;
 border-radius: 15px;
 max-width: 250px;
 background-color: #f9f9f9;
 height: 45px;
 vertical-align: middle;
 padding-top: 10px;
 padding-left: 5px;
}

.checkbox-field-container-label {
 padding-left: 5px;
}

.checkbox-field-label-checked {
 color: blue;
 }

 
.requiredIcon {
 font-size: 29px;
 background-color: transparent;
 padding: none;
 position: absolute;
 line-height: 0;
 z-index: 1;
 right: 10px;
 top: 70%;
 color: #ff5457;
 font-weight: 700;
 -webkit-user-select: none;
 -moz-user-select: none;
 user-select: none;
}

.submit-button-container
{
  text-align: center;
}
.submit-button
{
  font-family: "Roboto",sans-serif !important;
  background-color: #377dff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  outline: 0 !important;
  width: 35%;
  height: 50px;
  border-radius: 5px;
  border: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  position: relative;
  margin: 30px;
}
.header-image-container{
    /* background-image: url("https://com-syndafy-dealgrace-static.s3.us-east-2.amazonaws.com/towing-desktop_1gmhg4fwkm4asvzv_.jpg"); */
    height: 350px;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding: 0px;
}


/* Header */
.header-bar
{
    margin: auto;
    background-color: #2e2c47;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    top: 0;
    left: 0;
    height: 84px !important;
}

.logo-menu-container
{
  width: 90%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 4px;
  transform: translate(-50%, -5%);
  z-index: 10;
}

.logo
{
  position: absolute;
  top: 75px;
  bottom: 0;
  margin: auto;
  width: 192px !important;
  height: auto !important;
  left: 0px;
}

.menu-login-Container
{
    height: 35px;
    width: 100px;
    position: absolute;
    right: 40px;
    background-color: #3989ea !important;
    top: 20px;
    border-radius: 5px;
}

.login-button
{
  background-color: #3989ea !important;
  color: #fff !important;
  width: 83px;
  height: 32px;
  font-size: 16px !important;
  line-height: 2em !important;
  padding: 0px !important;
  text-transform: uppercase;
  font-weight: 500 !important;
  position: relative;
  top: 0;
  margin: -.5em 0;
  text-decoration: none;
}

.menu-icon-container
{
  position: absolute;
  right: 0px;
  top: 27px;
}

.menu-icon
{

}

/* Footer */

.footer-container
{
  margin: auto;
  min-height: 60px;
  height: auto;
  color: white;

}

.footer-col{
  background-color: #303030;
  margin-top: 25px;
}

.footerLeft{
    width: 40%;
    float: left;
    text-align: left;
    padding-left: 130px;
    padding-top: 25px;
}
.footerRight{
    width: 40%;
    float: right;
    text-align: right;
    padding-left: 10px;
    position: absolute;
    right: 130px;
    padding-top: 25px;
}
.footerRight span{
  padding-left: 5px;
  padding-right: 5px;
}

.footerRight a{
text-decoration: none;
color: white;
}



/* PhotoUpload */
.UploadPhoto-container
{
  min-height: 60px;
  border-radius: 15px;
  border: 1px solid black;
  margin-top: 25px;
  margin-bottom: 5px;
}
.UploadPhoto-heading
{
  font-weight: bold;
  position: relative;
  top: 16px;
  right: -20px;
  float: left;
}

.UploadPhoto-Icon
{
  font-weight: bold;
  position: relative;
  top: 8px;
  left: -20px;
  float: right;
  font-size: 30px;
}

.UploadPhoto-Content
{
  min-height: 100px;
  font-weight: bold;
  text-align: center;
  padding-top: 36px;
  width: 70%;
  margin-left: 15%;
  margin-top: 6%;
  margin-bottom: 1%;
  border-radius: 15px;
  border: 1px solid black;
}


/* PromoCode */
.PromoCode-container
{
  min-height: 60px;
  border-radius: 15px;
  border: 1px solid black;
}
.PromoCode-heading
{
  font-weight: bold;
  position: relative;
  top: 16px;
  right: -20px;
  float: left;
}

.PromoCode-Icon
{
  font-weight: bold;
  position: relative;
  top: 8px;
  left: -20px;
  float: right;
  font-size: 30px;
}

.PromoCode-Content
{
  min-height: 100px;
  font-weight: bold;
  text-align: center;
  padding-top: 36px;
  width: 70%;
  margin-left: 15%;
  margin-top: 6%;
  margin-bottom: 1%;
  border-radius: 15px;
  border: 1px solid black;
}


@media only screen and (min-width: 600px) {
 /* For tablets: */
 .col-s-1 {
  width: 8.33%;
 }
 .col-s-2 {
  width: 16.66%;
 }
 .col-s-3 {
  width: 25%;
 }
 .col-s-4 {
  width: 33.33%;
 }
 .col-s-5 {
  width: 41.66%;
 }
 .col-s-6 {
  width: 50%;
 }
 .col-s-7 {
  width: 58.33%;
 }
 .col-s-8 {
  width: 66.66%;
 }
 .col-s-9 {
  width: 75%;
 }
 .col-s-10 {
  width: 83.33%;
 }
 .col-s-11 {
  width: 91.66%;
 }
 .col-s-12 {
  width: 100%;
 }
}
@media only screen and (min-width: 768px) {
 /* For desktop: */
 .col-1 {
  width: 8.33%;
 }
 .col-2 {
  width: 16.66%;
 }
 .col-3 {
  width: 25%;
 }
 .col-4 {
  width: 33.33%;
 }
 .col-5 {
  width: 41.66%;
 }
 .col-6 {
  width: 50%;
 }
 .col-7 {
  width: 58.33%;
 }
 .col-8 {
  width: 66.66%;
 }
 .col-9 {
  width: 75%;
 }
 .col-10 {
  width: 83.33%;
 }
 .col-11 {
  width: 91.66%;
 }
 .col-12 {
  width: 100%;
 }

 .request-form-container-row {
  margin-left: 150px;
  margin-right: 150px;
 }
}
